.w-commerce-commercecheckoutformcontainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-commerce-commercelayoutcontainer {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.w-commerce-commercelayoutmain {
  flex: 0 800px;
  margin-right: 20px;
}

.w-commerce-commercecartapplepaybutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 38px;
  min-height: 30px;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 8px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercecartapplepayicon {
  width: 100%;
  height: 50%;
  min-height: 20px;
}

.w-commerce-commercecartquickcheckoutbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 38px;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercequickcheckoutgoogleicon, .w-commerce-commercequickcheckoutmicrosofticon {
  margin-right: 8px;
  display: block;
}

.w-commerce-commercecheckoutcustomerinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutblockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
}

.w-commerce-commercecheckoutlabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutemailinput {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutemailinput::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutemailinput::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutemailinput:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingaddresswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingfullname {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingfullname::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddress {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddress::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutrow {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.w-commerce-commercecheckoutcolumn {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.w-commerce-commercecheckoutshippingcity {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcity::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstateprovince {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstateprovince::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingzippostalcode {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingzippostalcode::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingcountryselector {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcountryselector::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingmethodswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingmethodslist {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.w-commerce-commercecheckoutshippingmethoditem {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0;
  padding: 16px;
  font-weight: 400;
  display: flex;
}

.w-commerce-commercecheckoutshippingmethoddescriptionblock {
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
}

.w-commerce-commerceboldtextblock {
  font-weight: 700;
}

.w-commerce-commercecheckoutshippingmethodsemptystate {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 64px 16px;
}

.w-commerce-commercecheckoutpaymentinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutcardnumber {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardnumber::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardnumber::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardnumber:focus, .w-commerce-commercecheckoutcardnumber.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardexpirationdate {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardexpirationdate::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardexpirationdate::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardexpirationdate:focus, .w-commerce-commercecheckoutcardexpirationdate.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardsecuritycode {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardsecuritycode::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardsecuritycode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardsecuritycode:focus, .w-commerce-commercecheckoutcardsecuritycode.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingaddresstogglewrapper {
  flex-direction: row;
  display: flex;
}

.w-commerce-commercecheckoutbillingaddresstogglecheckbox {
  margin-top: 4px;
}

.w-commerce-commercecheckoutbillingaddresstogglelabel {
  margin-left: 8px;
  font-weight: 400;
}

.w-commerce-commercecheckoutbillingaddresswrapper {
  margin-top: 16px;
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutbillingfullname {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingfullname::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddress {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddress::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcity {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcity::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstateprovince {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstateprovince::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingzippostalcode {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingzippostalcode::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcountryselector {
  height: 38px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcountryselector::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutorderitemswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutorderitemslist {
  margin-bottom: -20px;
}

.w-commerce-commercecheckoutorderitem {
  margin-bottom: 20px;
  display: flex;
}

.w-commerce-commercecartitemimage {
  width: 60px;
  height: 0%;
}

.w-commerce-commercecheckoutorderitemdescriptionwrapper {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.w-commerce-commercecheckoutorderitemquantitywrapper {
  white-space: pre-wrap;
  display: flex;
}

.w-commerce-commercecheckoutorderitemoptionlist {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

.w-commerce-commercelayoutsidebar {
  flex: 0 0 320px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.w-commerce-commercecheckoutordersummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummarylineitem, .w-commerce-commercecheckoutordersummaryextraitemslistitem {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  display: flex;
}

.w-commerce-commercecheckoutsummarytotal {
  font-weight: 700;
}

.w-commerce-commercecheckoutplaceorderbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-align: center;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 20px;
  padding: 9px 15px;
  text-decoration: none;
  display: block;
}

.w-commerce-commercecheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.w-commerce-commerceaddtocartform {
  margin: 0 0 15px;
}

.w-commerce-commerceaddtocartquantityinput {
  height: 38px;
  width: 60px;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 8px 6px 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commerceaddtocartquantityinput::-ms-input-placeholder {
  color: #999;
}

.w-commerce-commerceaddtocartquantityinput::placeholder {
  color: #999;
}

.w-commerce-commerceaddtocartquantityinput:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commerceaddtocartbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 0;
  align-items: center;
  padding: 9px 15px;
  text-decoration: none;
  display: flex;
}

.w-commerce-commerceaddtocartbutton.w--ecommerce-add-to-cart-disabled {
  color: #666;
  cursor: not-allowed;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  outline-style: none;
}

.w-commerce-commerceaddtocartoutofstock {
  background-color: #ddd;
  margin-top: 10px;
  padding: 10px;
}

.w-commerce-commerceaddtocarterror {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
}

.w-commerce-commerceorderconfirmationcontainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-commerce-commercecheckoutcustomerinfosummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryitem, .w-commerce-commercecheckoutsummarylabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutsummaryflexboxdiv {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.w-commerce-commercecheckoutsummarytextspacingondiv {
  margin-right: .33em;
}

.w-commerce-commercecheckoutshippingsummarywrapper, .w-commerce-commercecheckoutpaymentsummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercepaypalcheckoutformcontainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-commerce-commercepaypalcheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

@media screen and (max-width: 767px) {
  .w-commerce-commercelayoutcontainer {
    flex-direction: column;
    align-items: stretch;
  }

  .w-commerce-commercelayoutmain {
    flex-basis: auto;
    margin-right: 0;
  }

  .w-commerce-commercelayoutsidebar {
    flex-basis: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-commerce-commercecheckoutemailinput, .w-commerce-commercecheckoutshippingfullname, .w-commerce-commercecheckoutshippingstreetaddress, .w-commerce-commercecheckoutshippingstreetaddressoptional {
    font-size: 16px;
  }

  .w-commerce-commercecheckoutrow {
    flex-direction: column;
  }

  .w-commerce-commercecheckoutshippingcity, .w-commerce-commercecheckoutshippingstateprovince, .w-commerce-commercecheckoutshippingzippostalcode, .w-commerce-commercecheckoutshippingcountryselector, .w-commerce-commercecheckoutcardnumber, .w-commerce-commercecheckoutcardexpirationdate, .w-commerce-commercecheckoutcardsecuritycode, .w-commerce-commercecheckoutbillingfullname, .w-commerce-commercecheckoutbillingstreetaddress, .w-commerce-commercecheckoutbillingstreetaddressoptional, .w-commerce-commercecheckoutbillingcity, .w-commerce-commercecheckoutbillingstateprovince, .w-commerce-commercecheckoutbillingzippostalcode, .w-commerce-commercecheckoutbillingcountryselector, .w-commerce-commerceaddtocartquantityinput {
    font-size: 16px;
  }
}

body {
  color: #333;
  font-family: Sen, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

a {
  color: #eb5757;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 40px;
}

li {
  margin-bottom: 25px;
}

label {
  margin-bottom: 5px;
  font-weight: 400;
  display: block;
}

blockquote {
  border-left: 5px solid #eb5757;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.5;
}

.banner {
  width: 100%;
  color: #f9f9f9;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.style-guide-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.style-left {
  width: 30%;
  padding: 20px 20px 20px 0;
}

.style-right {
  width: 70%;
  padding: 20px;
}

.style-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.style-section {
  margin-bottom: 70px;
  padding-top: 20px;
}

.btn {
  background-color: #eb5757;
  border: 1px solid #eb5757;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: 700;
  transition: border-color .3s, background-color .3s;
}

.btn:hover, .btn.dark {
  background-color: #222;
  border-color: #222;
}

.btn.dark:hover {
  background-color: #eb5757;
  border-color: #eb5757;
}

.btn.dark.outline {
  color: #222;
  border-color: #222;
}

.btn.dark.outline:hover {
  background-color: #222;
  border-color: #222;
}

.btn.dark.outline.cat-menu {
  width: 100%;
}

.btn.dark.outline.cat-menu.w--current {
  color: #f9f9f9;
  background-color: #222;
}

.btn.light {
  color: #222;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn.light:hover {
  color: #f9f9f9;
  background-color: #eb5757;
  border-color: #eb5757;
}

.btn.light.outline {
  color: #f9f9f9;
  margin-right: 10px;
}

.btn.light.outline:hover {
  color: #222;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn.light.hero {
  margin-right: 10px;
}

.btn.outline {
  color: #eb5757;
  background-color: rgba(0, 0, 0, 0);
}

.btn.outline:hover {
  color: #f9f9f9;
  background-color: #eb5757;
  border-color: #eb5757;
}

.btn.outline:focus {
  border: 1px solid #eb5757;
  box-shadow: 0 0 2px #eb5757;
}

.color-wrapper {
  justify-content: space-between;
  margin-bottom: 35px;
  display: flex;
}

.color-block {
  width: 100px;
  height: 100px;
  background-color: #d1d1d1;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  font-size: 12px;
  display: flex;
  position: relative;
}

.color-block.primary {
  color: #f9f9f9;
  background-color: #222;
}

.color-block.secondary {
  color: #f9f9f9;
  background-color: #eb5757;
}

.color-block.white {
  background-color: #f9f9f9;
}

.color-block.primary-variant {
  color: #f9f9f9;
  background-color: #525252;
}

.color-block.secondary-variant {
  color: #f9f9f9;
  background-color: #ab4040;
}

.color-block.alert-blocks {
  width: 22%;
}

.color-block.alert-blocks.caution {
  background-color: #ffde03;
}

.color-block.alert-blocks.warning {
  color: #f9f9f9;
  background-color: #e53935;
}

.color-block.alert-blocks.alert {
  color: #f9f9f9;
  background-color: #1976d2;
}

.color-block.alert-blocks.success {
  min-height: auto;
  color: #f9f9f9;
  background-color: #20c788;
  padding-top: 0;
}

.separator {
  height: 1px;
  background-color: #525252;
  margin-bottom: 20px;
}

.style-link-wrapper {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.style-link-wrapper.dark {
  color: #f9f9f9;
  background-color: #222;
}

.small {
  margin-bottom: 10px;
  font-size: 10px;
}

.small.caps {
  text-transform: uppercase;
}

.small.footer-small {
  font-size: 12px;
}

.page-title-section {
  color: #f9f9f9;
  background-color: #222;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.contact {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.page-title {
  margin-top: 10px;
}

.style-menu-wrapper {
  margin-bottom: 10px;
}

.style-heading {
  margin-top: 0;
}

.input {
  border: 1px solid #222;
  border-radius: 5px;
}

.input:hover, .input:active, .input:focus, .input.-wfp-focus {
  border-color: #eb5757;
}

.input::-ms-input-placeholder {
  color: #525252;
}

.input::placeholder {
  color: #525252;
}

.input.cart-quantity {
  margin-bottom: 0;
  margin-right: 5px;
}

.banner-content-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.alert-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
}

.alert-wrapper.danger {
  color: #f9f9f9;
  background-color: #e53935;
}

.alert-wrapper.warning {
  background-color: #ffde03;
}

.alert-wrapper.success {
  min-height: auto;
  color: #f9f9f9;
  background-color: #20c788;
  padding-top: 20px;
}

.alert-wrapper.information {
  color: #f9f9f9;
  background-color: #1976d2;
}

.style-pill-wrapper {
  margin-bottom: 10px;
  display: flex;
}

.style-pill-wrapper.style-page {
  align-items: flex-start;
  display: flex;
}

.pill {
  color: #f9f9f9;
  background-color: #1976d2;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px 20px;
}

.pill.warning {
  color: #f9f9f9;
  background-color: #e53935;
}

.pill.warning.badge {
  border-radius: 0;
}

.pill.caution {
  color: #222;
  background-color: #ffde03;
}

.pill.caution.badge {
  border-radius: 0;
}

.pill.success {
  min-height: auto;
  color: #f9f9f9;
  background-color: #20c788;
  padding-top: 5px;
}

.pill.success.badge, .pill.badge {
  border-radius: 0;
}

.pill.primary {
  background-color: #eb5757;
  font-size: 16px;
}

.hero-section {
  min-height: 550px;
  min-width: 500px;
  background-image: url('../images/millinocket-marathon-shirt.jpeg'), url('../images/millinocket-marathon-shirt.jpeg');
  background-position: 100% 43%, 50%;
  background-size: cover, cover;
  justify-content: flex-start;
  align-items: center;
  display: block;
}

.hero-section.about-hero {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url('../images/felix-rostig-UmV2wr-Vbq8-unsplash.jpg');
  background-position: 0 0, 50% 60%;
  background-size: auto, cover;
}

.hero-section.contact-hero {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url('../images/adam-solomon-WHUDOzd5IYU-unsplash-1-1.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.menu-wrapper {
  z-index: 900;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: #5e67c3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  color: #f9f9f9;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 10px;
  transition: all .3s;
}

.nav-link:hover {
  background-color: #222;
  background-image: none;
}

.nav-link.w--current {
  color: #f9f9f9;
}

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-wrapper {
  width: 500px;
  height: 370px;
  opacity: .79;
  background-color: #222;
  border-radius: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  display: flex;
}

.hero-heading {
  width: 100%;
  color: #f9f9f9;
  margin-top: 0;
  font-size: 62px;
  line-height: 1.2;
}

.hero-heading.anout-hero-heading {
  width: 40%;
}

.hero-paragraph {
  width: 100%;
  color: #f9f9f9;
  margin-bottom: 25px;
  font-size: 18px;
}

.support-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.support-top-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.support-top-left {
  flex-direction: column;
  display: flex;
}

.support-top-details-text {
  text-transform: uppercase;
}

.support-top-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1.2;
}

.support-top-right {
  width: 45%;
}

.support-wrapper {
  justify-content: space-between;
  display: flex;
}

.support-column {
  width: 30%;
  min-height: 200px;
}

.support-square {
  min-height: 350px;
  background-color: #575757;
  background-image: url('../images/cargo-truck.png');
  background-position: 50% 100%;
  background-size: 350px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.support-square.product {
  background-color: rgba(34, 34, 34, .76);
  background-image: url('../images/shirt-asset.png');
  background-position: 0 0;
  background-size: 350px;
}

.support-square.design {
  background-color: #575757;
  background-image: url('../images/graphic-design.png');
  background-position: 100%;
  background-size: 350px;
}

.support-square-number {
  color: #f9f9f9;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 10%;
  bottom: auto;
  left: 10%;
  right: auto;
}

.support-square-text {
  color: #f9f9f9;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.support-square-image {
  position: absolute;
  top: auto;
  bottom: -25%;
  left: auto;
  right: -25%;
}

.support-square-image.triangle {
  bottom: -17%;
  right: -11%;
}

.support-square-image.rectangle {
  bottom: -31%;
  right: -14%;
}

.safe-section {
  min-height: 550px;
}

.safe-wrapper {
  min-height: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.safe-heading {
  width: 45%;
  color: #f9f9f9;
  text-align: right;
  font-size: 45px;
  line-height: 1.2;
}

.safe-paragraph {
  width: 35%;
  color: #f9f9f9;
  text-align: right;
  margin-bottom: 25px;
  font-size: 18px;
}

.products-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.shop-top-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.shop-item-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.shop-image {
  min-height: 500px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}

.shop-image.tumbler-1 {
  background-image: none;
  margin-bottom: 15px;
  position: relative;
}

.shop-image.tumbler-1.narrow-list {
  min-height: 400px;
}

.shop-image.tumbler-1 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
}

.shop-details-wrapper {
  justify-content: space-between;
  display: flex;
}

.shop-details-left {
  width: 100%;
}

.shop-item-name {
  color: #222;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.shop-item-price {
  color: #222;
  text-align: left;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
}

.shop-item-price.compare {
  color: #eb5757;
  text-decoration: line-through;
}

.shop-local-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.shop-local-wrapper {
  min-height: 500px;
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.shop-local-left {
  width: 30%;
  height: 0;
  min-height: 440px;
  background-image: url('../images/christiann-koepke-dQyS2pMYtok-unsplash-1.jpg');
  background-position: 69% 80%;
  background-size: 270%;
  border-radius: 5px;
  position: absolute;
  top: 6%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.shop-local-right {
  width: 80%;
  color: #f9f9f9;
  background-color: #222;
  border-radius: 5px;
  justify-content: flex-end;
  padding: 45px;
  display: flex;
}

.shop-local-content-wrapper {
  width: 80%;
  padding-left: 145px;
  padding-right: 145px;
}

.shop-local-heading {
  margin-top: 0;
  font-size: 45px;
  line-height: 1.2;
}

.footer {
  background-color: #5e67c3;
  padding-top: 65px;
  padding-bottom: 10px;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-logo-column {
  display: flex;
}

.social-footer-link {
  margin-left: 20px;
  transition: all .3s;
}

.social-footer-link:hover {
  opacity: .7;
}

.footer-bottom-wrapper {
  color: #f9f9f9;
  text-align: center;
  margin-top: 55px;
}

.content-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.content-section.why-acme-sections, .content-section.featured-section {
  padding-bottom: 0;
}

.why-acme-block {
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.why-acme-small-text {
  text-transform: uppercase;
  font-size: 14px;
}

.why-acme-heading, .why-acme-paragraph {
  text-align: center;
}

.about-columns-wrapper {
  justify-content: space-between;
  display: flex;
}

.about-column {
  width: 22%;
}

.image {
  display: block;
}

.meet-the-owners-wrapper {
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.meet-the-owners-right {
  width: 70%;
  color: #f9f9f9;
  background-color: #222;
  border-radius: 5px;
  padding: 90px 55px 90px 245px;
}

.meet-the-owners-left {
  width: 45%;
  height: 90%;
  background-image: url('../images/sept-commercial-Cqu3DdNwtKQ-unsplash-1-1.jpg');
  background-position: 50% 100%;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.owners-rich-text h2 {
  margin-top: 0;
}

.owner-bios-wrapper {
  justify-content: space-around;
  display: flex;
}

.owner-avatar-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.owner-bio {
  width: 35%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.owner-bio-paragraph {
  text-align: center;
}

.contact-wrapper {
  justify-content: space-between;
  display: flex;
}

.contact-left {
  width: 30%;
}

.contact-right {
  width: 70%;
  padding-left: 20px;
}

.contact-hero-section {
  color: #f9f9f9;
  background-color: #222;
  padding-top: 0;
  padding-bottom: 0;
}

.contact-hero-bg-wrapper {
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.contact-image-div {
  width: 45%;
  height: 550px;
  background-image: linear-gradient(to right, #222, rgba(34, 34, 34, .18) 76%), url('../images/vinicius-amano-4mK2KVuYrDs-unsplash-1-1.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.contact-block-wrapper {
  display: flex;
}

.contact-block {
  width: 30%;
  min-height: 350px;
  color: #222;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-right: 20px;
  padding: 40px;
  display: flex;
}

.contact-icon {
  margin-bottom: 30px;
}

.heading {
  margin-top: 55px;
}

.success {
  min-height: 280px;
  color: #f9f9f9;
  background-color: #20c788;
  border-radius: 5px;
  padding-top: 125px;
}

.error {
  color: #f9f9f9;
  background-color: #e53935;
  border-radius: 5px;
}

.image-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-source-wrapper {
  height: 300px;
  overflow: hidden;
}

.limg {
  min-height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
}

.products-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.price-wrapper {
  border-bottom: 1px rgba(34, 34, 34, .08);
  justify-content: center;
  margin-bottom: 15px;
  padding-bottom: 0;
  display: flex;
}

.pill-2 {
  color: #f9f9f9;
  background-color: #1976d2;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px 20px;
}

.pill-2.badge {
  border-radius: 0;
}

.pill-2.badge.primary.sale {
  text-transform: uppercase;
  background-color: #eb5757;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 4%;
  bottom: auto;
  left: auto;
  right: 2%;
}

.pill-2.badge.primary.featured {
  z-index: 10;
  color: #222;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: absolute;
  top: 8%;
  bottom: auto;
  left: auto;
  right: 1%;
}

.shop-button-wrapper {
  justify-content: center;
  display: flex;
}

.shop-item-link-wrapper {
  width: 100%;
  text-decoration: none;
}

.shopping-page-wrapper {
  display: flex;
}

.shopping-page-left {
  width: 40%;
}

.shipping-page-right {
  width: 60%;
  padding-left: 60px;
}

.shopping-page-image {
  min-height: 450px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: 5px;
  position: relative;
}

.page-product-headin {
  margin-top: 0;
}

.shop-item-price-page {
  color: #222;
  text-align: left;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
}

.shop-item-price-page.compare-at {
  color: #eb5757;
  text-decoration: line-through;
}

.page-price-wrapping {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
}

.add-to-cart-page-wrapper {
  margin-top: 15px;
  display: flex;
}

.shop-page-wrapper {
  display: flex;
}

.shop-category-menu {
  width: 20%;
  padding-right: 25px;
}

.shop-list {
  width: 80%;
}

.category-menu-item {
  margin-bottom: 10px;
}

.category-menu-heading {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.5;
}

.empty {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.featured-wrapper {
  width: 100%;
  min-height: 250px;
  color: #f9f9f9;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
}

.featured-item-name {
  color: #f9f9f9;
  margin-bottom: 5px;
  position: static;
  top: auto;
  bottom: 0%;
  left: 1%;
  right: auto;
}

.featured-price {
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.feature-text-wrapper {
  z-index: 10;
  position: absolute;
  top: auto;
  bottom: 6%;
  left: 2%;
  right: auto;
}

.featured-gradient-overlay {
  background-image: linear-gradient(rgba(34, 34, 34, .22), rgba(34, 34, 34, .69));
  border-radius: 5px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.shop-more {
  justify-content: center;
  display: flex;
}

.donate-explainer {
  min-height: 550px;
  color: #f9f9f9;
  background-image: linear-gradient(rgba(34, 34, 34, .56), #222), url('../images/jed-villejo-bEcC0nyIp2g-unsplash-1-1.jpg');
  background-position: 0 0, 50% 25%;
  background-size: auto, cover;
  padding-top: 151px;
  padding-bottom: 35px;
}

.donate-heading-1 {
  text-align: center;
  margin-bottom: -5px;
  font-size: 38px;
  font-weight: 800;
}

.donate-heading-2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.donate-paragraph {
  width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.donate-wrapper {
  width: 50%;
  border: 2px solid #222;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 10px;
}

.donate-link-block {
  width: 100%;
  color: #f9f9f9;
  text-align: center;
  background-color: #eb5757;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: background-color .3s;
}

.donate-link-block:hover {
  background-color: #222;
}

.text-block {
  color: #f9f9f9;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
}

.cart {
  background-color: #222;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}

.cart-nav-wrapper {
  align-items: center;
  display: flex;
}

.cart-quantity-cart {
  color: #222;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 30px;
}

.cart-icon {
  width: 20px;
  margin-right: 0;
}

.checkout-form, .paypal-checkout-form {
  background-color: rgba(0, 0, 0, 0);
}

.container-checkout {
  max-width: 1200px;
  justify-content: center;
}

.pay-with-browser, .apple-pay {
  border-radius: 5px;
}

.block-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.block-content {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.order-confirmation {
  background-color: rgba(0, 0, 0, 0);
}

.cart-image-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.product-image-cart {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand, .brand.w--current {
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #f9f9f9;
  background-image: linear-gradient(rgba(34, 34, 34, .42), #222), url('../images/nathan-dumlao-pLoMDKtl-JY-unsplash.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 360px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.alert-empty {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.image-2 {
  color: #5e67c3;
}

.text-block-2 {
  color: #b8ae53;
  align-self: center;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
}

.heading-2 {
  width: auto;
  max-width: 1200px;
  justify-content: flex-start;
  margin-left: 10%;
  display: block;
}

.text-block-3 {
  color: #f9f9f9;
}

.bold-text {
  color: #b8ae53;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container.contact {
    padding-bottom: 35px;
    position: static;
  }

  .nav-link {
    text-align: center;
    font-size: 30px;
  }

  .hero-heading {
    width: 60%;
  }

  .hero-paragraph {
    width: 55%;
  }

  .support-square {
    min-height: 330px;
  }

  .support-square-text {
    font-size: 30px;
  }

  .support-square-image.rectangle {
    bottom: -35%;
  }

  .safe-heading {
    width: 60%;
  }

  .safe-paragraph {
    width: 55%;
  }

  .shop-image.tumbler-1 {
    min-height: 350px;
    min-height: 350px;
  }

  .shop-details-wrapper {
    font-size: 14px;
  }

  .shop-details-left {
    margin-right: 25px;
  }

  .shop-local-left {
    top: 8%;
  }

  .shop-local-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .shop-local-heading {
    margin-top: 0;
  }

  .nav-button {
    color: #f9f9f9;
  }

  .nav-button.w--open {
    z-index: 100;
    background-color: #222;
    border-radius: 5px;
  }

  .nav-menu {
    width: 100vw;
    background-color: #eb5757;
    padding-top: 140px;
    padding-bottom: 30px;
  }

  .meet-the-owners-right {
    padding-left: 145px;
  }

  .meet-the-owners-left {
    background-position: 50% 100%;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-right {
    width: 100%;
    padding-left: 0;
  }

  .contact-hero-bg-wrapper {
    flex-direction: column-reverse;
  }

  .contact-image-div {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(to top, #222, rgba(34, 34, 34, .18) 76%), url('../images/vinicius-amano-4mK2KVuYrDs-unsplash-1-1.jpg');
    background-position: 0 0, 50% 35%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }

  .contact-block-wrapper {
    justify-content: space-between;
  }

  .contact-block {
    width: 48%;
    margin-right: 0;
  }

  .image-grid, .products-list {
    grid-template-columns: 1fr 1fr;
  }

  .shop-page-wrapper {
    flex-direction: column;
  }

  .shop-category-menu {
    width: 100%;
    margin-bottom: 25px;
  }

  .shop-list {
    width: 100%;
  }

  .category-menu-heading {
    line-height: 1.5;
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .container.shop-local-container {
    padding-left: 0;
    padding-right: 0;
  }

  .support-top-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .support-top-left {
    margin-bottom: 15px;
  }

  .support-top-right {
    width: 100%;
  }

  .support-wrapper {
    flex-wrap: wrap;
  }

  .support-column {
    width: 100%;
    margin-bottom: 40px;
  }

  .support-square-text {
    font-size: 40px;
  }

  .support-square-image {
    right: -18%;
  }

  .safe-wrapper {
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  .shop-top-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .shop-item-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  .shop-local-wrapper {
    flex-wrap: wrap;
  }

  .shop-local-left {
    width: 100%;
    border-radius: 0;
    position: static;
  }

  .shop-local-right {
    width: 100%;
    border-radius: 0;
    justify-content: center;
  }

  .about-columns-wrapper {
    flex-wrap: wrap;
  }

  .about-column {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    display: flex;
  }

  .meet-the-owners-wrapper {
    flex-direction: column;
  }

  .meet-the-owners-right {
    width: 100%;
    border-radius: 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .meet-the-owners-left {
    width: 100%;
    height: 400px;
    border-radius: 0;
    position: static;
  }

  .owner-bios-wrapper {
    flex-flow: column wrap;
  }

  .owner-bio {
    width: 100%;
    margin-bottom: 45px;
  }

  .contact-block-wrapper {
    flex-direction: column;
  }

  .contact-block {
    width: 100%;
  }

  .image-grid, .products-list {
    grid-template-columns: 1fr;
  }

  .pill-2.badge.primary.sale {
    right: 2%;
  }

  .shopping-page-wrapper {
    flex-direction: column;
  }

  .shopping-page-left {
    width: 100%;
    margin-bottom: 25px;
  }

  .shipping-page-right {
    width: 100%;
    padding-left: 0;
  }

  .shop-page-wrapper {
    flex-direction: column;
  }

  .shop-category-menu {
    width: 100%;
    margin-bottom: 20px;
  }

  .shop-list {
    width: 100%;
  }

  .donate-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .banner {
    font-size: 15px;
  }

  .btn.light.hero.safe {
    margin-right: 0;
  }

  .banner-content-wrapper {
    flex-direction: column;
  }

  .pill.primary.alert-bar {
    margin-bottom: 15px;
    font-size: 12px;
  }

  .hero-section.contact-hero {
    background-position: 0 0, 80%;
  }

  .hero-wrapper {
    height: 250px;
    justify-content: flex-end;
    padding-bottom: 45px;
  }

  .hero-heading {
    font-size: 30px;
  }

  .hero-paragraph {
    width: 70%;
    font-size: 13px;
  }

  .safe-heading {
    width: 100%;
    font-size: 30px;
  }

  .safe-paragraph {
    width: 70%;
    font-size: 13px;
  }

  .shop-details-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .shop-details-left {
    margin-right: 0;
  }

  .shop-item-name {
    text-align: center;
  }

  .shop-item-price {
    margin-left: 5px;
    margin-right: 5px;
  }

  .shop-local-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .shop-local-right {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-logo-column {
    margin-bottom: 30px;
  }

  .social-footer-link {
    margin-left: 25px;
    margin-right: 25px;
  }

  .why-acme-block {
    width: 100%;
  }

  .about-column {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .contact-image-div {
    background-position: 0 0, 50%;
  }

  .price-wrapper {
    justify-content: center;
  }

  .pill-2.badge.primary.sale {
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 3%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .shopping-page-image {
    min-height: 350px;
  }

  .shop-item-price-page {
    margin-left: 5px;
    margin-right: 5px;
  }

  .shop-category-menu {
    padding-right: 0;
  }

  .donate-heading-1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .donate-heading-2 {
    font-size: 24px;
  }

  .donate-paragraph {
    width: 80%;
    font-size: 13px;
  }

  .donate-wrapper {
    width: 100%;
  }

  .cart {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
  }

  .cart-quantity-cart {
    position: absolute;
    top: -23%;
    bottom: auto;
    left: 27px;
    right: 0%;
  }

  .cart-icon {
    margin-right: 0;
  }

  .order-item-list {
    flex-direction: column;
    display: flex;
  }

  .cart-image-wrapper.checkout-page {
    margin-bottom: 25px;
  }

  .cart-item {
    flex-direction: row;
  }

  .brand {
    width: 100px;
  }

  .brand.w--current {
    width: 90px;
  }

  .cart-menu {
    margin-right: 10px;
  }

  .utility-page-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .order-item-checkoiut {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .order-item-details {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    display: flex;
  }
}


